<div class="navbar-container">
    <div class="max-width-container navbar">
        <div class="logo">
            Mister <em>Bit</em>c
            <span class="bitcoin-animation-container" >
                <ng-lottie class="bitcoin-animation" height="50px" [options]="options"></ng-lottie>
            </span>
            in
        </div>
        <nav class="nav-links">
            <a routerLink="">Home</a>
            <a routerLink="contacts">Contacts</a>
            <a routerLink="statistics">Statistics</a>
            <a (click)="onModalToggle()" class="login-btn" >Sign In</a>
        </nav>
    </div>
    <login-modal *ngIf="modalToggle" (toggle)="onModalToggle()" ></login-modal>
</div>
