<div class="modal-container">
    <div class="login-modal">
        <div class="header">
            <h1 class="modal-title">Login</h1>
            <button class="close-btn" (click)="onModalToggle()" >X</button>
        </div>
        <form (ngSubmit)="onLogin($event)">
                <label for="username">Username
                    <input [(ngModel)]="user.name" type="text" name="username" id="username">
                </label>
                <label for="password">Password
                    <input type="text" name="password" id="password">
            </label>
            <button class="login-btn">Login</button>
        </form>
    </div>
</div>